{% comment %} Slider {% endcomment %}

{% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script> {% endcomment %}

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<script defer src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<div class="mobile__slider"> <div class="left__panel">
    <div class="comparison_title">
      <div class="space f-content">
        <span class="t-text"><strong>test</strong></span>
     
      </div>
      <div class="content f-content">
        <strong>first ingridient</strong>
      </div>
      <div class="content f-content">
        <strong>type of flavoring</strong>
      </div>
      <div class="content f-content">
        <strong>amount of meat shown</strong>
      </div>
      <div class="content f-content">
        <strong>added probiotics</strong>
      </div>
      <div class="content f-content">
        <strong>at least 18 vitamins & minerals</strong>
      </div>
      <div class="content f-content">
        <strong>cost per day</strong>
      </div>
    </div>
    <div class="root_by_hudson">
      <div class="f-content">
        <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Logo_2.png?v=1665737732">
      </div>
      <div class="content box-icon bare_enabled">
        <p class="bare-text remove-spacing">fresh chicken</p>
      </div>
      <div class="content box-icon bare_enabled">
        <p class="bare-text remove-spacing">all-natural</p>
      </div>
      <div class="content box-icon bare_enabled">
        <p class="bare-text remove-spacing">15%</p>
      </div>
      <div class="content box-icon bare_enabled">
        <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/check.png?v=1685517505">
      </div>
      <div class="content box-icon bare_enabled">
        <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/check.png?v=1685517505">
      </div>
      <div class="content box-icon bare_enabled">
        <p class="bare-text remove-spacing">P80.00</p>
      </div>
    </div>
  </div>
  <div class="slider__panel" data-flickity='{ "cellAlign": "left", "contain": true }'>
    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/petchola_f8029e08-1c4c-406a-8055-aae6e9111f14.png?v=1685515563">
		</div>
        <div class="dim box-icon petchola_enable">
            <p class="petchola-text remove-spacing">poultry meal</p>
        </div>
        <div class="enhance box-icon petchola_enable">
            <p class="petchola-text remove-spacing">natural</p>
        </div>
        <div class="r-i box-icon petchola_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="r-c-i box-icon petchola_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/check-1.png?v=1685517505">
        </div>
        <div class="pcl box-icon petchola_enable">
        <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon petchola_enable">
            <p class="petchola-text remove-spacing">P79.26</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/pedigree_5e02ca9a-05ad-4965-a642-0e60b88d04d6.png?v=1685515563">
		</div>
        <div class="dim box-icon pedigree_enable">
            <p class="petchola-text remove-spacing">cereals</p>
        </div>
        <div class="enhance box-icon pedigree_enable">
            <p class="petchola-text remove-spacing">not shown</p>
        </div>
        <div class="r-i box-icon pedigree_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="r-c-i box-icon pedigree_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon pedigree_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon pedigree_enable">
            <p class="petchola-text remove-spacing">P50.33</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Valuemeal-logo.png?v=1685515563">
		</div>
        <div class="dim box-icon value_enable">
            <p class="petchola-text remove-spacing">wholegrain cereals</p>
        </div>
        <div class="enhance box-icon value_enable">
            <p class="petchola-text remove-spacing">not shown</p>
        </div>
        <div class="r-i box-icon value_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="r-c-i box-icon value_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon value_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon value_enable">
            <p class="petchola-text remove-spacing">P56.00</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/pngegg_4.png?v=1685515563">
		</div>
        <div class="dim box-icon euka_enable">
            <p class="petchola-text remove-spacing">chicken</p>
        </div>
        <div class="enhance box-icon euka_enable">
            <p class="petchola-text remove-spacing">natural</p>
        </div>
        <div class="r-i box-icon euka_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="r-c-i box-icon euka_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon euka_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon euka_enable">
            <p class="petchola-text remove-spacing">P74.00</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/PngItem_7618245.png?v=1685515564">
		</div>
        <div class="dim box-icon onijen_enable">
            <p class="petchola-text remove-spacing">fresh chicken</p>
        </div>
        <div class="enhance box-icon onijen_enable">
            <p class="petchola-text remove-spacing">natural</p>
        </div>
        <div class="r-i box-icon onijen_enable">
            <p class="petchola-text remove-spacing">13%</p>
        </div>
        <div class="r-c-i box-icon onijen_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon onijen_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon onijen_enable">
            <p class="petchola-text remove-spacing">P97.98</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/totw-logo-stacked.png?v=1685515564">
		</div>
        <div class="dim box-icon taste_enable">
            <p class="petchola-text remove-spacing">duck</p>
        </div>
        <div class="enhance box-icon taste_enable">
            <p class="petchola-text remove-spacing">natural</p>
        </div>
        <div class="r-i box-icon taste_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="r-c-i box-icon taste_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon taste_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon taste_enable">
            <p class="petchola-text remove-spacing">P101.40</p>
        </div>
	</div>

    <div class="slide">
		<div class="f-content text-center">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/acana_ccc5bd00-b76c-4c5a-b210-2431f255b42b.png?v=1685515563">
		</div>
        <div class="dim box-icon taste_enable">
            <p class="petchola-text remove-spacing">chicken meal</p>
        </div>
        <div class="enhance box-icon taste_enable">
            <p class="petchola-text remove-spacing">none</p>
        </div>
        <div class="r-i box-icon taste_enable">
            <p class="petchola-text remove-spacing">25%</p>
        </div>
        <div class="r-c-i box-icon taste_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="pcl box-icon taste_enable">
            <img src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/X.png?v=1685517505">
        </div>
        <div class="enhance box-icon taste_enable">
            <p class="petchola-text remove-spacing">P143.17</p>
        </div>
	</div>
  </div>
</div>

<div class="control__button-container">
	<button class="control-button" id="prev__button">
    <svg aria-hidden="true" fill="#E1E1E1" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.75 19.5L8.25 12l7.5-7.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
  </button>
	<button class="control-button" id="next__button">
    <svg aria-hidden="true" fill="#E1E1E1" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.25 4.5l7.5 7.5-7.5 7.5" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
  </button>
</div>

<script>
	console.log('test outside')
	jQuery(document).ready(function() {
		jQuery('#prev__button').on('click', function() {
			console.log('test')
			jQuery('.flickity-prev-next-button.previous').click()
		});

		jQuery('#next__button').on('click', function() {
			console.log('test')
			jQuery('.flickity-prev-next-button.next').click()
		})
	});
</script>

<style>
    .f-content img {
        width: 80%;
        padding: 1em 0;
        height: 67.95px;
        object-fit: contain;
    }
  .content strong{
    font-size: 12px;
  }
  .content p{
    font-size: 11px;
  }
.dim, .enhance, .r-i, .r-c-i, .pcl {
  min-height: 70px;
  padding: 5px
}
.space, .otc_nsaids.f-content {
  min-height: 75px;
}
.t-text{
  color: transparent;
}
.indicator.off {
  opacity: .35;
}
.mobile__slider {
    padding: 40px 20px 10px;
    color: white;
    display: flex;
    width: 100%;
}

.left__panel {
    width: 70%;
    display: flex;
}

.slider__panel {
    width: 40%;
}

.mobile__slider .comparison_title {
  width: 70%;
}

.flickity-prev-next-button.previous {
	display: none;
}

.flickity-prev-next-button.next {
	display: none;
}

.mobile__slider .content {
  min-height: 70px;
  padding: 5px
}
.mobile__slider .root_by_hudson .f-content{
  font-size: 11px;
  min-height: 65px;
}
.mobile__slider .root_by_hudson span{
  font-size: 16px;
   
}
.flickity-page-dots .dot{
  background: #fff;
}
.mobile__slider .root_by_hudson {
  width: 55%;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0; 
}

.mobile__slider .slide {
	width: 100%;
}

.slide .otc_nsaids {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.slide .otc_enable {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-icon svg {
  height: 30px;
  width: 30px;
}

.control__button-container {
  text-align: center;
  padding: 30px 0;
display: flex;
gap: 30px;
align-items: center;
justify-content: center;
}

.control-button {
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.control-button svg path{
  fill: transparent;
}

.control-button svg{
  height: 25px;
  width: 25px;
}

.mobile__slider .content.f-content, .mobile__slider .slider__panel .box-icon {
  border-bottom: solid 1px;
}
.content.f-content {
  line-height: 17px;
}
.content.f-content p {
  margin-top: 5px;
}

.comparison_title .content.f-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>

{% comment %} <div class="mobile--slider">
  <swiper-container
  class="mySwiper"
  pagination="true"
  pagination-clickable="true"
  space-between="30"
  effect="fade"
  navigation="true">
  <swiper-slide>
  <h1>Testing</h1>
  </swiper-slide>
  <swiper-slide>
  test 2
  </swiper-slide>
  <swiper-slide>
  test 3
  </swiper-slide>
  <swiper-slide>
  test 4
  </swiper-slide>

  </swiper-container>

</div> {% endcomment %}