.cart__main-grid {
  --progress-bar: 0;
}

.cart__main-grid .title-wrapper-with-link {
  margin-top: 30px;
  text-transform: lowercase;
}

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item {
  column-gap: 20px;
}

.cart-item:not(:last-of-type) {
  margin-bottom: 3rem;
}

.cart-item,
.cart-item__quantity-wrapper,
.cart-item__content-row {
  display: flex;
}

.cart-item__remove {
  margin-top: 53px;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
  width: 80px;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

.cart-item__content {
  flex-grow: 1;
}

.cart-item__content-row {
  justify-content: space-between;
}

.cart-item__content-row--center {
  align-items: center;
}

.cart-item__quantity-wrapper .quantity {
  min-height: 25px;
}

.cart-item__product-quantity {
  margin-left: auto;
}

.cart-item__product-quantity > .cart-item__quantity-wrapper {
  max-width: 120px;
}

.cart-item__product-meta > dl {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--gilroysemi);
}

.cart-item__price-wrapper .price {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--gilroyreg);
  color: var(--purple);
}

.cart-item__quantity-wrapper .quantity {
  width: auto;
}

.cart-item__quantity-wrapper .quantity__button {
  width: calc(2.5rem / var(--font-body-scale));
  height: calc(2.5rem / var(--font-body-scale));
  border: 1.5px solid #9F9FBF;
  border-radius: 50%;
  margin: auto;
  color: #9F9FBF;
}

.cart-item__quantity-wrapper .quantity__button svg {
  width: 16px;
}

.cart-item__quantity-wrapper .quantity__input {
  font-size: 20px;
  line-height: 24px;
  color: var(--purple);
}

.cart-item__quantity-wrapper .quantity__input,
.cart-item__quantity-wrapper .quantity__input:-webkit-autofill,
.cart-item__quantity-wrapper .quantity__input:-webkit-autofill:hover,
.cart-item__quantity-wrapper .quantity__input:-webkit-autofill:active {
  box-shadow: none;
  outline: none;
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.6rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__name {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-transform: lowercase;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  word-break: break-all;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  color: var(--purple);
  font-family: var(--gilroysemi);
}

.cart-item__name-category {
  text-transform: uppercase;
  font-family: var(--futurabold);
  color: #6BC5B1;
  letter-spacing: 1.4px;
  font-size: 14px;
  margin-top: 0;
}

.cart-item cart-remove-button {
  display: flex;
  z-index: 2;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

cart-remove-button .button {
  min-width: calc(4.5rem / var(--font-body-scale));
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

cart-remove-button .button:before,
cart-remove-button .button:after  {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    right: 0;
    bottom: auto;
  }
}

.cart-item .loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.cart-item__error-text {
  font-size: 1.2rem;
  order: 1;
}

.cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: 4rem;
  }

  .cart-item {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 3.5rem;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 3;
  }

  .cart-item__details {
    grid-column: 2 / 4;
  }

  .cart-item__quantity {
    grid-column: 2 / 5;
  }

  .cart-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.cart-item__error-text + svg {
  margin-top: 0.4rem;
}

@media screen and (min-width: 750px) {
  .cart-items th {
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: top;
    padding-top: 4rem;
  }

  /* .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    margin-top: 1rem;
  } */
}

@media screen and (min-width: 990px) {
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-items thead th:first-child {
    width: 60%;
  }
}

.order-summary {
  padding: 30px 40px;
  background-color: #9F9FBF33;
  border-radius: 20px;
  position: sticky;
  top: 20px;
}

.order-summary__progress-heading {
  font-family: var(--futurabold);
  color: var(--light-purple);
  letter-spacing: 1.8px;
  line-height: 21px;
}

.order-summary__progress,
.order-summary__progress-bar {
  position: relative;
}

.order-summary__progress-bar {
  height: 3px;
  background-color: #9F9FBFCC;
  width: 100%;
  min-height: 1px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.order-summary__heading {
  font-size: 28px;
  letter-spacing: 0.84px;
  line-height: 38px;
  font-family: var(--gilroybold);
  color: var(--purple);
}

.order-summary__table {
  width: 100%;
  border-bottom: thin solid #9F9FBF33;
  padding-bottom: 15px;
  font-size: 14px;
  font-family: var(--gilroyreg);
  line-height: 18px;
  color: var(--purple);
}

.order-summary__table-total {
  font-family: var(--gilroybold);
}

.order-summary__table td {
  padding-bottom: 10px;
}

.order-summary__subtotal {
  font-size: 18px;
}

.order-summary__total {
  font-size: 34px;
}

.order-summary__subscribed-message {
    font-size: 12px;
    font-weight: bold;
    color: #6565A0;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    margin-top: 10px;
    font-family: var(--gilroybold);
    margin-bottom: 20px;
}

.order-summary .cart__checkout-button {
    background-color: #2A294F;
    max-width: 100%;
    border-radius: 30px;
    font-family: var(--futurabold);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.order-summary .cart__checkout-button:before,
.order-summary .cart__checkout-button:after {
  display: none;
}

.scDiscount__container {
  width: 100%;
}

.sc-shipping-container .sc-shipping-text {
  --sc-color: transparent;
    --sc-font-size: 0;
    padding: 0;
    height: 0.3rem;
}

.sc-shipping-bar::after {
  content: url('data:image/svg+xml,<svg id="food_x5F_bowl_1_" xmlns="http://www.w3.org/2000/svg" width="48.113" height="24.58" viewBox="0 0 48.113 24.58"><path id="Path_26199" data-name="Path 26199" d="M48.014,43.8s-5.742,3.584-19.455,3.584C15,47.384,6.8,43.8,6.8,43.8S3.361,54.612,5.93,57.041c2.342,2.222,10.238,3.614,20.929,3.792,11.673.207,22.7-1.807,23.309-4.266C51,53.309,48.014,43.8,48.014,43.8Zm-19.72,7.465a1.672,1.672,0,0,1,1.7-1.215,1.208,1.208,0,0,1,.642,1.718,1.672,1.672,0,0,1-1.7,1.214C28.257,52.835,27.992,52.064,28.295,51.265ZM26.066,49.9c.642-.089,1.322.533,1.511,1.363a1.269,1.269,0,0,1-.907,1.659c-.642.089-1.322-.533-1.511-1.363C25.008,50.731,25.386,49.991,26.066,49.9Zm-2.984,3.91c-.34-.711-.151-1.422.453-1.629a1.613,1.613,0,0,1,1.776.918c.34.711.151,1.422-.453,1.629A1.571,1.571,0,0,1,23.081,53.812ZM30.523,57.1c-1.171.978-1.964,0-2.8.118-.831.089-2.342.652-3.136,0-.831-.652,1.549-3.436,3.136-3.377C29.239,53.871,31.279,56.449,30.523,57.1Zm1.851-2.755a1.59,1.59,0,0,1-1.776.889c-.6-.207-.793-.918-.416-1.629A1.617,1.617,0,0,1,32,52.716C32.6,52.924,32.752,53.664,32.375,54.345Z" transform="translate(-3.245 -37.491)" fill="%236565a0" fill-rule="evenodd"/><g id="icon_3_" transform="translate(0)"><g id="Group_1491" data-name="Group 1491"><path id="Path_26200" data-name="Path 26200" d="M45.853,27.891h0v-.237c0-2.844-8.758-5.154-21.651-5.154-12.893.03-21.651,2.34-21.651,5.184a.524.524,0,0,0,.038.237H2.551S-1.057,41.043.3,42.732C4.618,48.3,42.62,48.6,47.544,43.176,49.461,41.043,45.853,27.891,45.853,27.891ZM23.9,24.307C35.366,24.307,43,25.818,43,27.684S35.4,31.061,23.9,31.061c-11.464,0-18.493-1.511-18.493-3.377S12.437,24.307,23.9,24.307ZM45.853,41.813c-3.383,4.976-39.43,4.651-43.264,0-1.128-1.363,1.466-11.2,1.691-12.056,3.12,1.807,10.412,3.081,19.959,3.081S41.079,31.564,44.2,29.757C44.387,30.557,47.018,40.1,45.853,41.813Z" transform="translate(0.008 -22.5)" fill="%236565a0"/></g></g></svg>');
  position: absolute;
  top: -1.2rem;
  right: 0;
}

.scDiscount form:before {
  content: 'If you have a coupon code, please apply it below.';
  display: block;
  text-align: left;
  max-width: 251px;
  line-height: 1.8rem;
  font-size: 1.4rem;
  font-family: var(--gilroyreg);
  font-weight: 500;
}

.sc_simple-container .sc-cube-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.42px;
  font-family: var(--gilroyreg);
  font-weight: 500;
  padding: 7px;
  border-width: 0 !important;
  border-bottom-width: 1px !important;
  border-radius: 0;
  background-color: transparent !important;
}

.sc_simple-container .sc-cube-text:focus-visible {
  box-shadow: none;
  outline: none;
}

.sc_simple-container .sc-cube-text::placeholder {
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  color: #909E9D;
  border: 0;
}

.sc_simple-container .sc_code-btn input[type=button] {
  font-size: 1.6rem;
  line-height: 2.1rem !important;
  letter-spacing: .16rem;
  font-family: var(--futurabold);
  height: 42px;
  text-transform: uppercase;
  padding: 10px 32px;
  border-radius: 21px;
}

.sc_simple-info .sc_simple-info__tag {
  margin-bottom: 5px;
}

.sc_simple-info__row:not(.sc_code-info) {
  display: none;
}

.sc_simple-info__row {
  font-size: 14px;
  font-family: var(--gilroyreg);
  line-height: 18px;
  color: var(--purple);
  font-weight: 500;
}