.cta-block {
  background: #F6F8FF;
  text-align: center;
  padding: 40px 0;
}

.cta-block * {
  color: #5C605F;
  font-size: 36px;
  line-height: 32px;
  margin: 0;
}

.cta-block b,
.cta-block strong {
  color: #0096FF;
}

@media (min-width: 768px) {
  .cta-block {
    padding: 80px 0;
  }

  .cta-block * {
    font-size: 46px;
    line-height: 42px;
  }
}

