.module-product-banner__info {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.module-product-banner__block_info-item {
    flex-basis: calc(50% - 20px);
    margin: 10px 10px 10px 0;
}

.module-product-banner__heading {
    justify-content: space-between;
}

.module-product-banner__heading h1 {
    color: var(--purple);
    font-family: var(--gilroyblack);
    line-height: 1em;
}

.module-product-banner__block-heading h5 {
    font-weight: 700;
}

.module-product-banner .price-item {
    color: var(--mint);
    font-size: 26px;
    font-weight: 700;
}

.module-product-banner .price__sale {
    display: block;
}

.price__regular {
    display: none;
}

.module-product-banner__weight {
    font-size: 28px;
    color: #B9B9D0;
}

.module-product-banner__container {
    align-items: center;
}

.module-product-banner__column-heading {
    gap: 15px;
    align-items: center;
}

.btn--add-to-cart {
    width: 100%;
    background: var(--purple);
    border: 0;
    cursor: pointer;
}

.module-product-banner__add-to-cart {
    margin-top: 2rem;
}


.module-product-banner__product-thumbnails {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.module-product-banner__product-thumbnail a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.module-product-banner__product-thumbnails img {
    object-fit: contain;
    max-width: 100%;
}

.module-product-banner__product-images {
    gap: 20px;
}

.module-product-banner__product-thumbnail {
    background: #e0e0ec;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-image-js {
    display: block;
    margin-inline: auto;
}

.product-main-image {
    position: relative;
}

.product-main-image a:after {
    content: "";
    background: #6565a0;
    width: 100%;
    height: 440px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -6%;
    z-index: -1;
}

.module-product-banner__icon img {
    object-fit: contain;
}

.module-product-banner__modal p {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #b9b9d0;
}

@media (max-width: 768px) {
    .module-product-banner__container {
        flex-direction: column-reverse;
        gap: 30px;
    }
}


@media (max-width: 767px) {
    .module-product-banner__heading {
        padding-bottom: 0;
    }

    .module-product-banner__heading h1 {
        font-size: 26px;
    }

    .module-product-banner__weight {
        font-size: 18px;
    }

    .module-product-banner .price-item {
        font-size: 22px;
    }
}


