
.pet-parents {
    position: relative;
  }
  
  .module-pet-parents {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .module-pet-parents__container {
    gap: 40px;
  }
  
  .module-pet-parents__column-left  {
    display: flex;
    align-items: center;
  }
  
  .module-pet-parents__gif-main {
    width: 85%;
  }
  
  .module-pet-parents__column-right {
    align-items: center;
  }
  
  .module-pet-parents__main-image {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .module-pet-parents__video, .plyr__video-embed, .module-pet-parents video, .module-pet-parents__video iframe {
    width: 100%;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
  }
  
  .module-pet-parents__image, .module-pet-parents__gif {
    max-width: 100%;
    max-height: 100%;
  }
  
  .module-pet-parents__description {
    font-weight: 700;
    width: 65%;
    margin-top: 3rem;
  }
  
  
  .module-pet-parents__play-icon-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  .module-pet-parents__play-icon-main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #fff;
    z-index: -1;
    transform: scale(1.3);
    opacity: 0.5;
    transition: all 0.4s ease;
  }
  
  .module-pet-parents__play-icon-main:hover::before {
    transform: scale(1.5);
    opacity: 0.5;
  }
  
  .module-pet-parents__play-icon-main::after {
    z-index: -2;
    animation-delay: 2s; 
  }
  
  .module-pet-parents__play-icon-main img  {
    max-width: 100%;
    object-fit: contain;
  }
  
  .module-pet-parents__video {
    display: none;
  }
  
  .module-pet-parents__badge {
    position: absolute;
    left: 5%;
    bottom: 4%;
  }
  
  @media screen and (max-width: 1024px) {
    .module-pet-parents__container {
      flex-direction: column-reverse;
      text-align: center;
    }
  
    .module-pet-parents__description,
    .module-pet-parents__gif-main {
      width: 100%;
    }
  
    .module-pet-parents__video, .module-pet-parents__main-image {
      height: 450px;
    }
  
    .module-pet-parents__badge {
      bottom: -1%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .module-pet-parents__badge {
      bottom: -2%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .module-pet-parents__video, .module-pet-parents__main-image {
      height: auto;
    }
  
    .module-pet-parents__video {
      height: 350px;
    }
  
    .module-pet-parents__badge {
      bottom: -4%;
    }
  
    .module-pet-parents__badge img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }