.module-product-info__hover,
.module-product-info__tooltip:hover .module-product-info__content {
    display: none;
}

.module-product-info__tooltip:hover .module-product-info__hover {
    display: block;
}

.module-product-info__subheading {
    font-family: var(--gilroybold);
    font-size: 18px;
    line-height: 18px;
}

.module-product-info__hover img {
    max-width: 100%;
    width: 110px;
    height: 145px;
    object-fit: contain;
}

.module-product-info__top  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
}

.module-product-info__tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    z-index: 2;
    width: 460px;
    height: 100px;
    margin: 10px 10px 3rem;
    cursor: pointer;
}

.module-product-info__tooltip:hover p,
.module .module-product-info__tooltip:hover h4 {
    color: #fff;
}

.module-product-info__button {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translate(-50%);
    text-decoration: none;
    z-index: 2;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.module-product-info__button a {
    text-decoration: none;
    font-family: var(--gilroyreg);
    font-size: 18px;
    color: #6DC5B1;
    font-weight: 700;
}

.module-product-info__tooltip-1:hover {
    background: #eb5b56;
}

.module-product-info__tooltip-1:hover::before {
    border-color: #eb5b56 transparent transparent #eb5b56;
}

.module-product-info__tooltip-2:hover {
    background: #afafec;
}

.module-product-info__tooltip-2:hover::before {
    border-color: #afafec transparent transparent #afafec;
}

.module-product-info__tooltip-3:hover {
    background: #ea7b49;
}

.module-product-info__tooltip-3:hover::before {
    border-color: #ea7b49 transparent transparent #ea7b49;
}


.module-product-info__tooltip-4:hover {
    background: #f9cf4f;
}

.module .module-product-info__tooltip-4:hover p {
    color: #2a294f;
}
.module-product-info__tooltip-4:hover::before {
    border-color: #f9cf4f transparent transparent #f9cf4f;
}

.module-product-info__tooltip-5:hover {
    background: #1fafd9;
}

.module-product-info__tooltip-5:hover::before {
    border-color: #1fafd9 transparent transparent #1fafd9;
}

.module-product-info__tooltip-4, .module-product-info__tooltip-5 {
    margin-bottom: 0;
}

.module-product-info__tooltip-6:hover {
    background: var(--mint);
}

.module-product-info__tooltip-6:hover::before {
    border-color: var(--mint) transparent transparent var(--mint);
}

.module-product-info__tooltip-7:hover {
    background: #6565A0;
}

.module-product-info__tooltip-7:hover::before {
    border-color: #6565A0 transparent transparent #6565A0;
}

.module-product-info__hover p {
    font-size: 12px;
}

.module-product-info__tooltip::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
}

.module-product-info__left img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
}

.module-product-info__heading {
    margin-bottom: 5rem;
}

.module-product-info__bottom-main {
    display: flex;
    gap: 20px;
}

.module-product-info__middle {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.module-product-info__middle-item {
    margin: 4rem 20px 2rem 0;
    width: 460px;
}

.module-product-info__middle-item:nth-child(1),
.module-product-info__middle-item:nth-child(2) {
  margin-left: 20%;
}

.module-product-info__bottom-image img {
    max-width: 100%;
    width: 170px;
    height: 170px;
    object-fit: contain;
}

.module-product-info__bottom-images {
    padding-right: 10%;
}

.module-product-info__bottom-content p {
    font-family: var(--gilroybold);
    font-size: 16px;
    line-height: 18px;
}
