.section--faq {
    position: relative;
    padding: 0 0 60px;
}

    .section--faq::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgb(234,123,73);
    }

    .section--faq .decor-top {
        width: 100%;
        margin-top: -50px;
    }

.section--faq .section--heading {
    text-align: center;
    color: #fff;
    margin-top: 0;
}

.faqs--question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--gilroybold);
    font-size: 16px;
    line-height: normal;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    margin: 0;
    padding: 20px 0;
}

.faqs--toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.faqs--toggle:before {
    content: '+';
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.faqs--answer {
    display: none;
}

.faqs--answer p {
    color: #fff;
}

.faqs--item.active .faqs--answer {
    display: block;
}

.faqs--item.active .faqs--question {
    border: 0;
    padding-bottom: 0;
}

.faqs--item.active .faqs--toggle:before {
    content: '-';
}

.faq-link {
    text-align: center;
    margin-top: 30px;
}

.faq-link a {
    color: #fff;
    font-family: var(--gilroysemi);
    font-size: 14px;
    line-height: normal;
}

@media (min-width: 768px) {
    .section--faq {
        padding: 0 0 50px;
    }

    .faqs--question {
        font-size: 18px;
    }
}