.section--store-info {
  position: relative;
  padding: 50px 0;
}

.section--store-info .decor-bottom-right {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.section--store-info .decor-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 30%;
}

@media (min-width: 768px) {
  .section--store-info .decor-bottom-right,
  .section--store-info .decor-bottom-left {
    display: block;
  } 
}

.section--store-info .info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 65px;
}

.section--store-info .info p {
  color: var(--purple);
}

.history {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1080px;
  width: 1080px;
  margin: auto;
}

.history--wrapper {
  overflow: hidden;
  overflow-x: auto;
  max-width: 1150px;
  margin: auto;
  margin-top: 60px;
  padding: 0 30px;
}

.history--store {
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSIxODQiIHZpZXdCb3g9IjAgMCAxMjgwIDE4NCI+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+CiAgICAgIDxyZWN0IGlkPSJSZWN0YW5nbGVfMTE0MSIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMTE0MSIgd2lkdGg9IjEyODAiIGhlaWdodD0iMTg0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIDkzMykiIGZpbGw9IiNmZmYiLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgogIDxnIGlkPSJNYXNrX0dyb3VwXzQ3IiBkYXRhLW5hbWU9Ik1hc2sgR3JvdXAgNDciIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAgLTkzMykiIGNsaXAtcGF0aD0idXJsKCNjbGlwLXBhdGgpIj4KICAgIDxnIGlkPSJHcm91cF8zNjUyIiBkYXRhLW5hbWU9Ikdyb3VwIDM2NTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMS40IC0xMjcpIj4KICAgICAgPHBhdGggaWQ9IlBhdGhfMjY2NjkiIGRhdGEtbmFtZT0iUGF0aCAyNjY2OSIgZD0iTTkwMjAsNTU4czY1LjIsMjA4LjgsMjI0LDIxOC40LDIxOC44LTEyOC44LDM5OS42LTEyOC44LDI1OC45LDE1NC40LDQ2OC40LDE1OCw0MTMuMi04MS4yLDUwMi44LTIxMi40IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTEyNCA0MjguNSkiIGZpbGw9Im5vbmUiIHN0cm9rZT0icmdiYSgxNTksMTU5LDE5MSwwLjUpIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS13aWR0aD0iNSIgc3Ryb2tlLWRhc2hhcnJheT0iMSAyMCIvPgogICAgPC9nPgogIDwvZz4KPC9zdmc+Cg==');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.history--desc {
  font-size: 12px;
  line-height: 16px;
  font-family: var(--gilroysemi);
  width: 145px;
  text-align: center;

}

.history--year h3 {
  position: relative;
  border-radius: 100%;
  text-align: center;
  font-family: var(--gilroybold);
  font-size: 18px;
  line-height: normal;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background: #9F9FBF;
  color: white;
  margin: auto;
}

.history--item {
  flex: 0 0 25%;
}

.history--item .history--year {
  width: 145px;
}


/* FIRST */
.history--item:nth-child(1) {
  padding-top: 130px;
}

.history--item:nth-child(1) .history--year {
  margin-bottom: 85px;
}

.history--item:nth-child(1) .history--year h3:before {
  content: '';
  height: 55px;
  width: 2px;
  background: #9F9FBF;
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
}

.history--item:nth-child(1) .history--year h3:after {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: url('img-kibble.png') center no-repeat;
  background-size: 190%;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.history--item:nth-child(1) .history--photo {
  float: right;
  margin-top: calc( -100% - 20px );
  margin-right: -10px;
}

/* SECOND */
.history--item:nth-child(2) .history--desc {
  margin-bottom: 120px;
}

.history--item:nth-child(2) .history--year h3 {
  width: 95px;
  height: 95px;
  line-height: 95px;
  background: #6565A0;
}

.history--item:nth-child(2) .history--year h3:before {
  content: '';
  height: 55px;
  width: 2px;
  background: #6565A0;
  transform: translateX(-50%);
  position: absolute;
  top: -55px;
  left: 50%;
}

.history--item:nth-child(2) .history--year h3:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url('img-kibble.png') center no-repeat;
  background-size: 180%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.history--item:nth-child(2) .history--photo {
  float: right;
  margin-top: calc( -100% + 40px );
  margin-right: -20px;
}

/* THIRD */
.history--item:nth-child(3) {
  padding-top: 100px;
}

.history--item:nth-child(3) .history--year {
  margin-bottom: 120px;
}

.history--item:nth-child(3) .history--year h3 {
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.history--item:nth-child(3) .history--year h3:before {
  content: '';
  height: 55px;
  width: 2px;
  background: #9F9FBF;
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
  left: 50%;
}

.history--item:nth-child(3) .history--year h3:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url('img-kibble.png') center no-repeat;
  background-size: 190%;
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
}

.history--item:nth-child(3) .history--photo {
  float: right;
  margin-top: -70%;
  margin-right: -50px;
}

/* FOURTH */
.history--item:nth-child(4) {
  padding-top: 120px;
}

.history--item:nth-child(4) .history--desc {
  margin-bottom: 120px;
}

.history--item:nth-child(4) .history--year h3 {
  width: 95px;
  height: 95px;
  line-height: 95px;
  background: #9F9FBF;
}

.history--item:nth-child(4) .history--year h3:before {
  content: '';
  height: 55px;
  width: 2px;
  background: #9F9FBF;
  transform: translateX(-50%);
  position: absolute;
  top: -55px;
  left: 50%;
}

.history--item:nth-child(4) .history--year h3:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: url('img-kibble.png') center no-repeat;
  background-size: 180%;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
}

.history--item:nth-child(4) .history--photo {
  float: right;
  margin-top: calc( -100% + 40px );
  margin-right: -20px;
}


@media (min-width: 768px) {
  .section--store-info {
    padding: 60px 0 30px;
  }
  
  .section--store-info .info {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .history-wrapper {
    margin-top: 70px;
  }
}