.site-footer {
  padding: 40px 0 0;
  background: var(--purple);
  color: #fff;
}

.site-footer img { max-width: 100%; }

@media (min-width: 768px) {
  .site-footer .wrapper {
    max-width: 1100px;
  }
}

.footer-body {
  margin-top: 50px;
}

.footer-menu__nav h3 {
  color: var(--mint);
  font-family: var(--futurabold);
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.footer-menu__nav a {
  color: #fff;
  font-size: 14px;
  line-height: normal;
  font-family: var(--gilroybold);
  transition: all ease-in-out 300ms;
  text-decoration: none;
}

.footer-menu__nav a:hover {
  color: var(--mint);
}

@media (min-width: 768px) {
  .footer-menu__nav h3 {
    margin-bottom: 15px;
  }

  .footer-menu__nav a {
    font-size: 16px;
  }
}


.footer-logo img {
  display: block;
  max-width: 190px;
  margin: auto;
}

.site-footer__brand {
  margin-top: 55px;
}

.site-footer__brand img {
  max-width: 990px;
  display: block;
  margin: auto;
  width: 100%;
}



@media (min-width: 768px) {
  .site-footer {
    padding: 100px 0 0;
  }

  .footer-logo img {
    max-width: 230px;
    margin: 0;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
  }

  .footer-badge {
    flex: 0 0 30%;
  }
  
  .footer-badge img {
    max-width: 330px;
  }

  .footer-body {
    display: flex;
    justify-content: space-between;
  }

  .footer-menu {
    flex: 0 0 65%;
  }

  .footer-menu__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .footer-newsletter {
    flex: 0 0 30%;
  }

  .site-footer__brand {
    margin-top: 65px;
  }
}

.footer-foot {
  margin-top: 50px;

}

.footer-foot ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal ul li {
  margin: 0 15px;
}

.footer-social ul li {
  margin: 0 15px;
}

@media (min-width: 768px) {
  .footer-foot {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-social ul {
    justify-content: flex-start;
  }

  .footer-legal ul {
    justify-content: flex-end;
  }

  .footer-legal ul li {
    margin: 0 0 0 15px;
  }

  .footer-legal ul a {
    font-size: 14px;
    line-height: normal;
    color: #fff;
    font-family: var(--gilroysemi);
    text-decoration: none;
  }

  .footer-legal ul a:hover {
    color: var(--mint);
  }

  .footer-social ul li {
    margin: 0 15px 0 0;
  }
}